// swift-tools-version: 6.0
import PackageDescription
let package = Package(name: "AccountReadProof", platforms: [.macOS(.v15)], dependencies: [.package(path: "CORE_PACKAGE_PATH")], targets: [.target(name: "OperatorApp", dependencies: ["OperatorCore"]), .testTarget(name: "AccountReadProofTests", dependencies: ["OperatorApp", "OperatorCore"])])
