@MainActor
final class AppleOnDeviceDictationService: OfflineDictationService {
    func start(eventHandler: @escaping @MainActor (OfflineDictationEvent) -> Void) async throws {}
    func stop() {}
}
